<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>페로몬 뷰어</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        td {
            height: 10px;
            width: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="peromonHistoryString">
    <button @click="step--">-</button>
    {{step}}
    <button @click="step++">+</button>
    <div>
        <table>
            <tr v-for="row in displayPeromon">
                <td v-for="col in row" :style="`background: rgb(${((col-min)/(max-min))*255}, 0, 0)`">
                    {{col.toFixed(5)}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        최대: {{max}}<br>
        최소: {{min}}
    </div>
</div>
<script>
    let vue = new Vue({
        el: "#app",
        data: {
            peromonHistoryString: "[[[0]]]",
            step: 1
        },

        computed: {
            peromonHistory(){
                try{
                    let p = JSON.parse(this.peromonHistoryString);
                    return p;
                }
                catch {
                    return null;
                }
            },

            displayPeromon(){
                if(this.peromonHistory === null){
                    return null;
                }
                return this.peromonHistory[this.step-1];
            },

            max(){
                if(this.peromonHistory === null){
                    return null;
                }

                let max = -1;
                for(let peromonMatrix of this.peromonHistory){
                    for(let row of peromonMatrix){
                        for(let col of row){
                            if(col > max){
                                max = col;
                            }
                        }
                    }
                }

                return max;
            },

            min(){
                if(this.peromonHistory === null){
                    return null;
                }

                let min = 999999;
                for(let peromonMatrix of this.peromonHistory){
                    for(let row of peromonMatrix){
                        for(let col of row){
                            if(col < min){
                                min = col;
                            }
                        }
                    }
                }

                return min;
            }
        }
    })
</script>
</body>
</html>